/* @font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}

@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
  font-weight: bold;
}

@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
  font-style: italic, oblique;
}

@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
  font-weight: bold;
  font-style: italic, oblique;
} */

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: "Computer Modern", sans-serif; */
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* color: #213547; */
  color: #000000;
  /* background-color: #242424; */
  /* background-color: #EBEBEB; */
  background-color: #ffffffca;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
} */

/* a:hover {
  color: #000000;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  /* font-weight: 500; */
  font-family: inherit;
  /* background-color: #1a1a1a; */
  /* cursor: pointer; */
  /* transition: border-color 0.25s; */
}

.button-right {
  text-align: right;
  vertical-align: bottom;
}

/* button:hover {
  border-color: #646cff16;
} */
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.bg-gray-1 {
  background-color: #EBEBEB;
}

.bg-gray-2 {
  background-color: #666666;
}

.bg-gray-15 {
  background-color: #EBEBEB;
  opacity: 50%;
}

.bg-blue-1 {
  background-color: #00AEEF;
}

.bg-blue-2 {
  background-color: #0094CB;
}

.bg-blue-3 {
  background-color: #80D7F8;
}

.text-gray-1 {
  color: #666666;
}

.text-blue-1 {
  color: #00AEEF;
}

.text-blue-2 {
  color: #80D7F8;
}

@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  } */
  /* a:hover {
    color: #747bff;
  } */
  /* button {
    background-color: #f9f9f9;
  } */
}
